/* Your SCSS here. */

//I learned how to make a carousel from a youtube video https://www.youtube.com/watch?v=vnQNb9fXP9o
.carousel{
    height: 50vw;
    width: 50vw;
    overflow-y: hidden;
    overflow-x: auto;
    display: flex;
    background-color: orange;
    margin: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}

//I tried to make a modal, but it was too much work :(
.surprise{
    text-align: center;
    align-content: center;
    margin: 0 auto;
    top: 50%;
    transform: translateY(-50%);
    display: none;
}

.surprise image{
    height: 50vh;
    width: 50vw;
}

.carousel video{
    height: 50vw;
    width: 50vw;
}

.carousel .slide{
    flex: 0 0 50vw;
    width: 50vw;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 700%;
    color: white;
    scroll-snap-align: start;
}


.links{
    margin:auto;
    align-self: center;
    text-align: center;
    padding:1%;
}

//I got this code from a lecture
.item {
  display: flex;
  justify-content: center;
  align-items: center;
}



#footer {
  overflow: hidden;
  background-color: #242424;
  padding: 1% 0%;  
  width: 100%;
  bottom: 0;
  margin-left: 0%;
  text-align: center;
  font-family: monospace;
  color: white;
}

.maincontent .minigrid{
    display: grid;
    width: 100%;
    grid-template-columns: 100%;
    grid-template-rows: 1fr 1fr;
    text-align: center;
    font-family:monospace;
}

.maincontent .minigrid .maintext{
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    font-size: 500%;
    height: 100%;
    color:rgb(232, 74, 39);
    background-color: rgb(16, 41, 75);
}

.maincontent .minigrid .subtext{
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    font-size: 300%;
    color: rgb(16, 41, 75);
    background-color: rgb(232, 74, 39);
    height: 100%;

}

.maincontent {
  padding: 5vw;
  padding-top: 105vh;
  display: grid;
  width: 90%;
  grid-template-columns: 21vw 21vw 21vw 21vw;
  grid-template-rows: auto auto auto auto auto auto auto;
  grid-gap: 2vw;
  text-align: center;
}

.item1 {
  grid-row: 1 / 5;
  grid-column: 2 / 4;
  height: 100%;
}

//Learned how to do video here https://www.w3schools.com/html/html5_video.asp
.item2 {
  grid-row: 1 / 5;
  grid-column: 1 / 2;
}

.item3 {
  grid-row: 1 / 5;
  grid-column: 4 / 5;
}
.item4 {
  grid-row: 5 / 8;
  grid-column: 1 / 2;
}
.item5 {
  grid-row: 5 / 8;
  grid-column: 2 / 3;
}
.item6 {
  grid-row: 5 / 8;
  grid-column: 3 / 4;
}
.item7 {
  grid-row: 5 / 8;
  grid-column: 4 / 5;
}

//I got this code from https://css-tricks.com/forums/topic/div-doesnt-reach-edge-of-browser-page/
html,
body {
  margin: 0;
  padding-top: 6%;
  scroll-behavior: smooth;
}

//I figured out how to make a static image background from https://developer.mozilla.org/en-US/docs/Web/CSS/background-attachment
#header {
  background-image: url("../assets/introbackgroundPic.jpg");
  background-size: 100vw 100vh;
  background-attachment: fixed;
  align-content: center;
  height: 100%;
  width: calc(100vw);
  position: absolute;
}

#headerinner {
  text-align: center;
  align-content: center;
  margin: 0 auto;
  top: 50%;
  transform: translateY(-50%);
  position: relative;
  font-family: cursive;
  color: rgb(199, 169, 0);
  font-size: 20vw;
  animation-name: textAnimation;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

@keyframes textAnimation {
    0%   {color: rgb(221, 154, 8);}
    50%  {color: rgb(23, 0, 151);}
  }

//Navbar code was inspired by https://w3schools.com/howto/howto_js_navbar_shrink_scroll.asp/
#navbar {
  overflow: hidden;
  background-color: #242424;
  padding: 5% 0%; 
  position: fixed; 
  width: 100%;
  top: 0; 
  z-index: 99;
  margin-left: 0%;
}

#navbar a {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  float: left;
  color: rgb(255, 187, 0);
  text-align: center;
  padding: 5px;
  font-size: 18px;
  line-height: 20%;
}

#navbar #logo {
  font-size: 60px;
  font-weight: bold;
}

#navbar-right {
  float: right;
}

@media only screen and (max-width: 1279px) {
  .item1 {
    grid-row: 1 / 2;
    grid-column: 1 / 5;
  }
  .item2 {
    grid-row: 2 / 3;
    grid-column: 1 / 5;
  }
  .item3 {
    grid-row: 3 / 4;
    grid-column: 1 / 5;
  }
  .item4 {
    grid-row: 4 / 5;
    grid-column: 1 / 5;
  }
  .item5 {
    grid-row: 5 / 6;
    grid-column: 1 / 5;
  }
  .item6 {
    grid-row: 6 / 7;
    grid-column: 1 / 5;
  }
  .item7 {
    grid-row: 7 / 8;
    grid-column: 1 / 5;
  }
}

@media only screen and (min-width: 1280px) and (max-width: 1365px) {
  .item1 {
    grid-row: 1 / 5;
    grid-column: 1 / 5;
  }
  .item2 {
    grid-row: 5 / 6;
    grid-column: 1 / 3;
  }
  .item3 {
    grid-row: 5 / 6;
    grid-column: 3 / 5;
  }
  .item4 {
    grid-row: 6 / 7;
    grid-column: 1 / 3;
  }
  .item5 {
    grid-row: 6 / 7;
    grid-column: 3 / 5;
  }
  .item6 {
    grid-row: 7 / 8;
    grid-column: 1 / 3;
  }
  .item7 {
    grid-row: 7 / 8;
    grid-column: 3 / 5;
  }
}

@media only screen and (min-width: 1366px) and (max-width: 1919px) {
  .item1 {
    grid-row: 1 / 4;
    grid-column: 1 / 5;
  }
  .item2 {
    grid-row: 4 / 6;
    grid-column: 1 / 2;
  }
  .item3 {
    grid-row: 4 / 6;
    grid-column: 2 / 4;
  }
  .item4 {
    grid-row: 4 / 6;
    grid-column: 4 / 5;
  }
  .item5 {
    grid-row: 6 / 8;
    grid-column: 1 / 2;
  }
  .item6 {
    grid-row: 6 / 8;
    grid-column: 2 / 4;
  }
  .item7 {
    grid-row: 6 / 8;
    grid-column: 4 / 5;
  }
}

@media only screen and (min-width: 1920px) {
  .item1 {
    grid-row: 1 / 5;
    grid-column: 2 / 4;
  }
  .item2 {
    grid-row: 1 / 5;
    grid-column: 1 / 2;
  }
  .item3 {
    grid-row: 1 / 5;
    grid-column: 4 / 5;
  }
  .item4 {
    grid-row: 5 / 8;
    grid-column: 1 / 2;
  }
  .item5 {
    grid-row: 5 / 8;
    grid-column: 2 / 3;
  }
  .item6 {
    grid-row: 5 / 8;
    grid-column: 3 / 4;
  }
  .item7 {
    grid-row: 5 / 8;
    grid-column: 4 / 5;
  }
}
